<div id="annunci-container">
  <div *ngFor="let annuncio of annunci">
    <div *ngIf="annuncio.owner === 'an'" class="annuncio">
      <button [routerLink]="['/A', annuncio.id]">Modifica</button> <!-- Pulsante con routerLink -->
      <h2>{{ annuncio.nome }}</h2>
      <p>{{ annuncio.descrizione }}</p>
      <p><strong>Prezzo: €{{ annuncio.prezzoNuovo }}</strong></p>
      <img *ngIf="annuncio.foto" [src]="'data:image/jpeg;base64,' + annuncio.foto" alt="Foto annuncio" class="annuncio-img">
      <p style="text-align: left">
        <img [src]="'data:image/webp;base64,' + imgur" style="width: 20%;">
        Pubblicizza su Imgur
      </p>
    </div>
  </div>
</div>
